---

---

<button class="cta-contact">Get in Touch</button>

<style lang="scss">
  .cta-contact {
    @include neo-button(3px, $neon-green);
    padding: 8px 14px;
    text-decoration: none;

    @tablet {
      width: 100%;
      text-align: center;
    }
  }
</style>
