// Colors
$neon-green: #9eff00;
$dark-bg: #111;
$light-bg: #f5f5f5;
$border-color: #000000;

$base-font:'Space Grotesk', sans-serif;
$secondary-font: 'Poppins', monospace;
$title-font-size: 16px;
$font-base-color: #111;
$font-alternate-color: #0F1C0Dcc;

// Transitions
$transition-speed: 0.3s ease;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;